node_modules
dist
dist-electron
dev-dist
android
coverage
playwright-report
test-results
docs/*.pdf
docs/*.docx
data-source
src/data/*.json
*.glsl
*.vert
*.frag
CATATAN_PENGINGAT.txt
package-lock.json
docs/*.md
docs/**/*.md
